body{
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
}
#container{
    background-color: #111;
    height: 65%;

}
#Title{
    margin-left: 32%;
    color: white;
    font-size: 350%;
}
a{
    background-color: #212121;
    
}
#anon{
    margin-left: 30%;
    padding: 2%;
}
#login{
    align-self: center;
    margin-left: 26%;
    padding-left: 4%;
    padding-top: 4%;
}
#dms{
    margin-top: 10%;
    margin-left: 44%;
}
#idfk{
    height: 2.4%;
    
}
hr{
    color:purple;
}
